body {
    margin: 0;
    padding: 10px;
    min-width: 480px;
}

input{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid  #5f9341;
}

button{
    margin-top: 4px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    font-weight: bold;
}

#input-btn:hover , #delete-btn:hover , #tab-btn:hover{
    background-color: darkslategrey;
    color: darkkhaki;
    transition: 0.5s;
}

#delete-btn{
    background-color: white;
    color: #5f9341;
}

ul{
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 0;
    list-style-type: none;
}

li{
   margin-top: 10px; 
}

li a{
    color: #5f9341;
}

footer{
    text-align: center;
    margin-top: 43%;
}